<h2>Display</h2>
<p>
  Name: xxx<br>
  Birth: (dd/mm/yyyy)<br>
  Gender: [?]<br>
  Phone: [xxxxxxxx]<br>
  Address: ???<br>
  Disease: ???<br>
  Allergies: ???<br>
</p>
<button onclick="window.location.href='/back'">Back</button>
<button onclick="window.location.href='/delete'">Delete</button>
