<h2>Find</h2>
<form action="/find" method="POST">
  <label for="findName">Name:</label>
  <input type="text" id="findName" name="findName" required><br>

  <label for="findPhone">Phone:</label>
  <input type="text" id="findPhone" name="findPhone" required><br>

  <button type="submit">Confirm</button>
</form>

<hr>
