<h2>Create</h2>
<form action="/create" method="POST">
  <label for="createName">Name:</label>
  <input type="text" id="createName" name="createName" required><br>

  <label for="createBirth">Birth:</label>
  <input type="text" id="createBirth" name="createBirth" required><br>

  <label for="createGender">Gender:</label>
  <input type="text" id="createGender" name="createGender" required><br>

  <label for="createPhone">Phone:</label>
  <input type="text" id="createPhone" name="createPhone" required><br>

  <label for="createAddress">Address:</label>
  <input type="text" id="createAddress" name="createAddress" required><br>

  <label for="createDisease">Disease:</label>
  <input type="text" id="createDisease" name="createDisease" required><br>

  <label for="createAllergies">Allergies:</label>
  <input type="text" id="createAllergies" name="createAllergies" required><br>

  <button type="submit">Create</button>
</form>
