<h2>Edit</h2>
<form action="/confirm" method="POST">
  <label for="editName">Name:</label>
  <input type="text" id="editName" name="editName" required><br>

  <label for="editBirth">Birth:</label>
  <input type="text" id="editBirth" name="editBirth" required><br>

  <label for="editGender">Gender:</label>
  <input type="text" id="editGender" name="editGender" required><br>

  <label for="editPhone">Phone:</label>
  <input type="text" id="editPhone" name="editPhone" required><br>

  <label for="editAddress">Address:</label>
  <input type="text" id="editAddress" name="editAddress" required><br>

  <label for="editDisease">Disease:</label>
  <input type="text" id="editDisease" name="editDisease" required><br>

  <label for="editAllergies">Allergies:</label>
  <input type="text" id="editAllergies" name="editAllergies" required><br>

  <button type="submit">Confirm</button>
</form>
